@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"); 
@media (max-width: 575.98px) { 
	.col-text, div.title-footer {
		justify-content:center;
		text-align: center;
	}
	body {
		padding-top: 70px;
	}

	div.offset-3 {
		margin: 0;
		text-align: center;
	}

	img.title-image.img-responsive {
		margin-left: 100px;
		padding-top: 40px;

	}


}

html, body{
	overflow-x: hidden;
}

.navbar {
	font-family: 'Roboto';
	color: rgb(43, 45, 47);
	text-transform: uppercase;
	
}

.navbar-custom {
  height: 12%;
}